<div id="club">
  <h1 class="mbottom text-hide"><%= image_tag 'tl-club.png', class: 'img-responsive img-center' %>Se parte del Club</h1>
  <div class="center-block text-left">
    <%= render 'customers/form' %>
  </div>
</div>