<div id="end">
  <h1 class="mbottom text-hide "><%= image_tag "tl-gracias.png" %>¡Gracias por Participar!</h1>
  <h1 class="mbottom text-hide">¡Done! Thanks for play</h1>
  <div class="center-block">
    <div class="row">
       <%= link_to 'Reiniciar', root_path, class: 'btn btn-lg' %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>