/* Plantilla */
body.mobile{
    font-family: Arial, helvetica, sans-serif !important;
    background: url(image-path("bg-absolut.jpg")) center top;
    background-color: #000 !important;
    color: #fff !important;
}

body.mobile header{
    width: 100%; height: 250px;
}
body.mobile header .col-md-12{
    text-align: center;
}
body.mobile header #logo{
    padding-top: 60px;
}

body.mobile .contenido{
}

body.mobile .container{
    max-width: 700px;
}

body.mobile footer{
    margin: 40px auto 20px auto;
    font-size: 11px;
}

body.mobile .fondo-gris{
    background: #000;
    padding: 40px;
}
body.mobile .center{
    text-align: center;
}
body.mobile .img-center{
    margin: 0 auto;
}
body.mobile .mitad{ width: 48%; display: inline-block; vertical-align: top;}
/* Margenes */
body.mobile .mbottom{
    margin-bottom: 40px;
}
body.mobile .mtop{
    margin-top: 40px;
}
body.mobile .mleft{
  margin-left: 20%;
}
/* Plantilla */

/* Typogtaficos */
body.mobile h1,
body.mobile h2,
body.mobile h3,
body.mobile h4,
body.mobile h5,
body.mobile p,
body.mobile li,
body.mobile a,
body.mobile small{color: #fff;font-family: Arial, helvetica, sans-serif;}
body.mobile .upper{ text-transform: uppercase; }
/* Typogtaficos */

/* Forms and links */
body.mobile .btn{
    background-color: #63666a;
    font-weight: bold;
    color: #000;
}
body.mobile .btn-black{
    background-color: #1b1b1b;
}
body.mobile .btn-lg{
    padding: 20px 80px;
    font-size: 20px;
}
body.mobile .same{
    width: 226px;
    text-align: center;
}

/* EDAD */
body.mobile #edad p{
  font-size: 16px;

}

body.mobile #club .center-block{
  max-width: 550px;
  margin: 0 auto;
}
body.mobile #club label{
    font-weight: normal;
    font-size: 18px;
}
body.mobile #club .field{
    margin-bottom: 20px;
    font-size: 16px;
}
body.mobile #club input[type="submit"]{
    background-color: #63666a;
    color: #000;
    padding: 20px 80px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
}

body.mobile #club .checkes input[type="checkbox"]{
  display: none;
}
body.mobile #club .checkes label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
}

body.mobile #club .checkes label:before {
  content: "";
  display: inline-block;

  width: 16px;
  height: 16px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 3px;
  background-color: #000;
  border: 1px solid #fff;
  }

body.mobile #club .checkes input[type=checkbox]:checked + label:before {
  content: "\2713";
  font-size: 15px;
  text-align: center;
  line-height: 15px;
  color: #ffffff;
}

body.mobile .chivas-form{
    background: none repeat scroll 0 0 #000;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    display: block;
    font: 16px Arial,sans-serif;
    margin: 0 0 20px;
    max-width: 100%;
    outline: medium none;
    padding: 15px 4px;
    width: 100%;

}

body.mobile #club select{
    -moz-appearance: none;
    background: #000;
    border: 2px solid #fff;
    box-sizing: border-box;
    height: 42px;
    min-width: 140px;
    padding: 5px;
    text-indent: 0.01px;
    text-overflow: "";
    color: white;
}

#club .red{ color: red}
#club label.error{ color: red; font-size: 14px; display: block;}
body.mobile input#picture{
  display: block;
  font-size: 16px;
  width: 100%;
  text-align: center ;
}

body.mobile .btn-fb{
  padding: 20px;

}

/* Forms */
/* START */
body.mobile #reto #spin{ margin: 20px auto;}
body.mobile #login-fb h4{ line-height: 1.6;}
/* START */

body.mobile #evento .same{ margin-bottom: 10px;}
body.mobile #foto .form-upload{ text-align: center  }
body.mobile #foto #picture{}

body.mobile .overf-friend{
  width: 350px;
  height: 300px;
  overflow: auto;
  margin: 20px auto;
  background: #1b1b1b;
}
body.mobile #list_friend{
    list-style: none;
    text-align: left;
    padding-left: 2px;
}
body.mobile #list_friend li{ border-bottom: 1px dotted #302f29;}
body.mobile #list_friend li img{
    padding-right: 10px;
}
body.mobile #list_friend li.active{ border: 2px solid #a08c64;}

/*RULETA*/
body.mobile .botones{
  max-width: 640px;
  margin: 10px auto;
}
.nul-flip{ width:210px; height:220px; display: inline-block; }
.nul-flip > .nulo{
  position:absolute;
  width:210px; height:220px;
}
.flip3D{ width:210px; height:220px; display: inline-block; }
.flip3D > .front{
  position:absolute;
  -webkit-transform: perspective( 600px ) rotateY( 0deg );
  transform: perspective( 600px ) rotateY( 0deg );
  width:210px; height:220px;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transition: transform .5s linear 0s;
  transition: transform .5s linear 0s;

}
.flip3D > .back{
  position:absolute;
  -webkit-transform: perspective( 600px ) rotateY( 180deg );
  transform: perspective( 600px ) rotateY( 180deg );
  width:210px; height:220px;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform .5s linear 0s;
  transition: transform .5s linear 0s;

}
@media screen and (max-width: 670px) {
  .flip3D{ width:170px; height:170px; display: inline-block; }
  .flip3D > .front{
    width:170px; height:170px;
  }
  .flip3D > .back{
    width:170px; height:170px;
  }
  .nul-flip{ width:170px; height:170px; display: inline-block; }
  .nul-flip > .nulo{
    width:170px; height:170px;
  }
}

.left-block{ text-align: left; }
.gris{ color: #666 !important;}

/*RULETA*/